body {
   margin: 0;
   background-color: #000000;
   font-family:'Nunito', sans-serif;
}
h1,p,a {
   color: #ffffff;
}
a {
   text-decoration: none;
}
ul {
   list-style: none;
   padding: 0;
}
header {
   padding: 0 50px;
   overflow: hidden;
   border-bottom: 1px solid #2c2c2c;
}
h1 {
   margin: 20px 0 0 0;
   float: left;
}
h1 a:hover {
   color: #e90f0e;
   transition: all .3s ease;
}
.desktopMenu ul {
   float: right;
   margin: 0;
}
.desktopMenu ul li {
   display: inline-block;
   padding: 0;
}
.desktopMenu ul li a {
   position: relative;
   display: inline-block;
   line-height: 80px;
   width: 120px;
   text-align: center;
   font-size: 14px;
   border-bottom: 1px solid #000000;
}
.desktopMenu ul li a::before,
.desktopMenu ul li a::after {
   border-bottom: solid 1px  #e90f0e;
   bottom: 0;
   content: "";
   display: block;
   position: absolute;
   transition: all .3s ease;
   -webkit-transition: all .3s ease;
   width: 0;
}
.desktopMenu ul li a::before {
   left: 50%;
}
.desktopMenu ul li a::after {
   right: 50%;
}
.desktopMenu ul li a:hover::before,
.desktopMenu ul li a:hover::after {
   width: 50%;
}
.desktopMenu ul li a:hover {
   color: #e90f0e;
   transition: all .3s ease;
}
.scrollMenu {
   position: fixed;
   top: 50px;
   left: 20px;
   background-color: #e90f0e;
}
.scrollMenu ul {
   margin: 0;
   padding: 10px 0;
}
.scrollMenu ul li a {
   color: #ffffff;
   font-size: 14px;
   padding: 10px 20px;
   display: block;
   transition: all 0.5s;
}
.scrollMenu ul li a:hover {
   color: #000000;
}
main {
   margin: 0 auto;
   max-width: 1150px;
}
.mainItemWrapper {
   width: 270px;
   height: 230px;
   margin-right: 200px;
   border: 2px solid #2c2c2c;
   border-radius: 5px;
   background-color: #2c2c2c;
}
.container {
   display: flex;
   margin-top: 100px;
}
.mainItem img {
   display: block;
   margin: 15px auto 0 auto;
   width: 235px;
   height: 155px;
   object-fit: cover;
   border-radius: 5px;
}
.mainItem img:hover {
   opacity: .5;
   transition: .3s;
}
.mainItem p {
   margin: 10px 0 16px 17px;
}
.mainItem a:hover {
   color: #e90f0e;
   transition: all .3s ease;
}
footer {
   height: 70px;
   margin-top: 130px;
   border-top: 1px solid #2c2c2c;
}
footer p {
   margin: 25px 0 0 50px;
   opacity: 0.3;
   font-size: 12px;
   float: left;
}
footer .snsIcons {
   margin: 20px 50px 0 0;
   float: right;
}
footer .snsIcons .snsIcon {
   width: 26px;
   height: 26px;
   display: inline-block;
   margin-right: 5px;
}
footer .snsIcons .snsIcon path{
   fill: rgb(75, 75, 75);
}
footer .snsIcons .snsIcon:hover path{
   fill: #e90f0e;
   transition: all .3s ease;
}

@media (max-width: 767px) {
   header {
      margin: 8px 0 100px 0;
      padding: 0;
   }
   .scrollMenu {
      display: none!important;
   }
   #navToggle .span1,
   #navToggle:before,
   #navToggle:after {
      display: block;
      width: 20px;
      height: 2px;
      content: "";
      border-radius: 3px;
      background-color: #ffffff;
   }
   #navToggle .span1 {
      position: relative;
      margin: 3px 0;
   }
   #navToggle {
      position: fixed;
      float: left;
      cursor: pointer;
      width: 20px;
      height: 12px;
      padding: 1.2em 1.5em;
   }
   #toggleMenu {
      width: 100%;
      position: fixed;
      background-color: #e90f0e;
   }
   #toggleMenu ul {
      margin-left: 20px;
   }
   #toggleMenu ul li {
      padding-bottom: 6px;
   }
   #toggleMenu ul li a {
      color: #ffffff;
      font-size: 16px;
   }
   .container {
      display: block;
      margin: 0 auto;
      max-width: 85%;
   }
   .desktopMenu {
      display: none;
   }
    h1 {
      float: none;
      text-align: center;
      margin: 0 0 7px 0;
   }
   .mainItemWrapper {
      width: 80%;
      height: auto;
      margin: 80px auto;
      border: 2px solid #2c2c2c;
   }
   .mainItem {
      width: 100%;
   }
   .mainItem img {
      display: block;
      margin: 15px auto 0 auto;
      width: 90%;
      height: auto;
      object-fit: cover;
   }
   footer .snsIcons {
      margin-bottom: 0;
   }
   footer .snsIcons .snsIcon {
      width: 20px;
      height: 20px;
      margin-bottom: 0;
   }
}
